div {
  width: 200px;
  height: 200px;
  background-color: gray;
}

div:hover {
  background-color: crimson;
}

input:hover {
  caret-color: red;
  color: red;
}

/* article :where(.p1, .s1) {
  color: magenta;
} */
