h1 {
  font-size: 80px;
  font-style: normal;
  /* ! Windows */
  /* ? If i am using latest browser then it uses Times New Roman, little older browser uses Times, this concept is called fallback */
  font-family: "Times New Roman", Times, serif;
}

div {
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  /* ! MacBook */
  font-family: Arial, Helvetica, sans-serif;
}

.roboto {
  font-weight: 900;
}
