* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Bungee-Spice;
  font-size: 150px;
  letter-spacing: 5px;
  text-shadow: -30px 30px 5px greenyellow;
}
