main :first-child p:last-of-type {
  color: violet;
}

main :nth-child(2) :first-child {
  color: green;
}

main :nth-child(2) :last-child {
  color: blue;
}

main :last-child p:nth-of-type(1) {
  color: orange;
}

main :last-child div:nth-of-type(2) {
  color: crimson;
}
